<footer class="ph3 pv4 black">

	<div class="mw7 center pt3 relative">
		<div class="ig-special raise">
			{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
		</div>

		<div class="measure-narrow center mb4">

			<img src="https://djh82r8xhqebh.cloudfront.net/images/jennajuby-logo.png" alt="Kaldi logo" class="db w4 center mb4 br0">

		</div>
		<div class="top-back raise">
			<a href="#"><img src="https://djh82r8xhqebh.cloudfront.net/images/up.png" alt="back to top" class="w4"></a>
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
</body>

</html>
