<div class="mw7 center ph1 pv4">

	<div class="flex flex-wrap mhn1">
		{{ range .photos }}
			{{ if ne .size true }}
				<div class="w-100 w-50-ns ph1-ns">
					{{ if .imagedescription }}
					<img src="{{ .imagenew }}" alt="{{ .imagedescription }}" >
						<div class="img-desc">{{ .imagedescription }}</div>
					{{ end }}
				</div>
			{{ else }}
				<div class="w-100 ph1-ns">
					{{ if .imagedescription }}
					<img src="{{ .imagenew }}" alt="{{ .imagedescription }}" >
						<div class="img-desc">{{ .imagedescription }}</div>
					{{ end }}
				</div>
			{{ end }}
		{{ end }}
	</div>

</div>
