<nav class="overflow-x-scroll overflow-x-visible-ns justify-between items-center center bg-white divider-grey relative ttu">

	<!-- Logo -->
	<div class="ig-special raise">
		{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
	</div>
	<a href="/" class="w-50 pa3 db flex-none ma-center">
		<img src="https://djh82r8xhqebh.cloudfront.net/images/logo-fill.png" alt="jennajuby logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3 overflow-x-scroll">
		<li><a href="/" class="pa3 no-underline db">home</a></li>

		<li><a href="/about" class="pa3 no-underline db">about</a></li>

		<li><a href="/travel" class="pa3 no-underline db">travel</a></li>

		<li><a href="/subscribe" class="pa3 no-underline db">subscribe</a></li>

		<li><a href="/contact" class="pa3 no-underline db">contact</a></li>
	</ul>

</nav>
