<nav class="overflow-x-scroll overflow-x-visible-ns justify-between items-center center bg-white divider-grey relative ttu">

	<!-- Logo -->
	<div class="ig-special raise">
		{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
	</div>
	<a href="/" class="w-50 w-30-m pa3 db flex-none ma-center">
		<img src="https://djh82r8xhqebh.cloudfront.net/images/jennajuby-logo.png" alt="jennajuby logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="justify-center flex b black overflow-x-scroll font-special">
		<li class="ml3-m mr3-m"><a href="/" class="pa3 no-underline db">home</a></li>

		<li class="ml3-m mr3-m"><a href="/about" class="pa3 no-underline db">about</a></li>

		<li class="ml3-m mr3-m"><a href="/travel" class="pa3 no-underline db">travel</a></li>

		<li class="ml3-m mr3-m"><a href="/subscribe" class="pa3 no-underline db">subscribe</a></li>

		<li class="ml3-m mr3-m"><a href="/contact" class="pa3 no-underline db">contact</a></li>
	</ul>

</nav>
